html {
	font-family: helvetica;
	font-weight: bold;
}

.box {
	background-color: #ccc;
	border-radius: 5px;
	height: 100px;
	margin: 10px;
}

.wide_box {
	width: 380px;
}

.small_box {
 width: 180px;
}

