html {
	font-family: helvetica;
	font-weight: bold;
}

.box {
	background-image: url(../img/arranjo.png);
	background-size: cover;
	border-radius: 5px;
	height: 100px;
	margin: 10px;
}

.wide_box {
	width: 380px;
}

.small_box {
 width: 180px;
}

.element {
	display: flex;
}

.proportional_to_1 {
	flex-grow: 1;
}

.proportional_to_2 {
	flex-grow: 2;
}

.steady {
	width: 200px;
}

